.item{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
    border: 1px solid ;
    padding: 25px;
    
}

.default{
    background-color: var(--main-color);
    
}